* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #161614;
}
.container {
	position: absolute;
	left: 48%;
	top: 45%;
	transform: translate(-50%,-50%);
	padding: 10px;
}

input {
	outline: none;
	box-sizing: border-box;
	height: 40px;
	width: 0px;
	padding: 0 20px;
	color: #000;
	border-radius: 50px;
	font-size: 18px;
	border: 2px solid #01BAFF;
	transition: all .7s ease;
    box-shadow: inset 0 0 10px 0 rgba(0,0,0,.70);
}

::placeholder {
	color: #3F444F;
}

.btn {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 60px;
	height: 60px;
	background: #01BAFF;
	line-height: 60px;
	border-radius: 50%;
	text-align: center;
	cursor: pointer;
	transition: .5s;
    border: 2px solid #047DAA;
}

.btn i {
	font-size: 23px;
	color: white;
	line-height: 60px;
	transition: all .7s ease;
    text-shadow: 1px 1px 2px rgba(0,0,0,.70);
}

.container:hover input {
	width: 21rem;
}

.container:hover i{
	transform: rotate(-360deg);
}

.btn:hover{
	background: #01BAFF;
}
