@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Noto Sans JP', sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    position: relative;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 30px 0;
    background: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer img {
    height: 90px;
    width: 90px;
    margin-bottom: 16px;
    transition: 0.5s;
}

footer img:hover {
    transform: scale(1.3);
    transition: 0.5s;
}

.social-icons {
    display: flex;
    padding: 20px 0;
}

.social-icons i {
    margin: 0 20px;
    padding: 5px;
    font-size: 20px;
    color: #fff;
    border-radius: 50%;
    border: 1px solid #fff;
    cursor: pointer;
    transition: 0.3s;
}

.social-icons .bxl-facebook-circle:hover {
    border: 1px solid #315093;
    color: #315093;
    transition: 0.3s;
}

.social-icons .bxl-instagram-alt:hover {
    border: 1px solid #DD2A7B;
    color: #DD2A7B;
    transition: 0.3s;
}

.social-icons .bxl-twitter:hover {
    border: 1px solid #00acee;
    color: #00acee;
    transition: 0.3s;
}

.social-icons .bxl-pinterest:hover {
    border: 1px solid #c8232c;
    color: #c8232c;
    transition: 0.3s;
}

.footer-links {
    display: flex;
}

.footer-links .menu-item {
    color: rgba(255,255,255,.8);
    margin: 0 20px;
    font-size: 14px;
    cursor: pointer;
}

.footer-links .menu-item:hover {
    color: rgba(255,255,255);
}

.footer-links .menu-item::after {
    content: '';
    display: block;
    width: 0;
    height: 1.6px;
    background: #fff;
    transition: width .3s;
}

.footer-links .menu-item:hover::after {
    width: 100%;
    transition: width .3s;
}

.copyright {
    color: rgba(255,255,255,.3);
    padding-top: 25px;
}