@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansita&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    background: #ffffff;
}

header {
    height: 70px;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    padding: 0 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #121212;
    z-index: 12;
}

.logo {
    color: #fff;
    letter-spacing: 2px;
    font-family: 'Sansita', sans-serif;
    cursor: pointer;
    font-size: 30px;
    transition: 0.5s;
}

.logo:hover {
    transform: translateX(20px);
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    font-size: 17px;
    margin-left: 2rem;
    cursor: pointer;
}

.item a {
    color: #fff;
}

.hamburguer {
    position: relative;
    height: 20px;
    width: 30px;
    display: none;
    cursor: pointer;
}

.hamburguer .line {
    height: 2px;
    width: 100%;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%);
}

.hamburguer .line:nth-of-type(1) {
    top: 0;
    transform: translateY(0);
}

.hamburguer .line:nth-of-type(3) {
    top: auto;
    bottom: 0;
    transform: translateY(0);
}

.menu-mobile {
    position: absolute;
    top: 80px;
    left: 0;
    transform: translateY(-50vh);
    height: calc(40vh - 80px);
    width: 100%;
    display: none;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    background-color: #121212;
    color: #fff;
    transition: 1s;
}

.open {
    display: flex;
    transition: 0.5s;
    transform: translateY(0);
}

.menu-mobile .item {
    height: 100%;
    width: 100%;
    border-bottom: 1px solid rgba(46,46,46);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.menu-mobile .item:hover {
    background: rgba(46,46,46);
}