@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
    width: 12px;
    background: #147065;
}

::-webkit-scrollbar-thumb {
    background: #02D38C;
}

.parallax {
    display: grid;
    width: 100%;
    height: 100vh;
    place-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

h2 {
    width: 100%;
    text-align: center;
    padding: 15px;
    background-color: #fff;
    border: 2px solid #0a0a0a;
    color: #0A0A0A;
}

.sec-1 {
    background-image: url(img/1.jpg);
}

.sec-2 {
    background-image: url(img/2.jpg);
}

.sec-3 {
    background-image: url(img/3.jpg);
}