@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121212;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin: 30px;
}

label {
    position: relative;
}

input{
    width: 25em;
    height: 40px;
    padding: 0 15px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    font-family: 'Poppins', sans-serif;
}

button {
    position: absolute;
    height: 40px;
    right: 0;
    background: #00c6ff; 
    background: -webkit-linear-gradient(to right, #0072ff, #00c6ff); 
    background: linear-gradient(to right, #0072ff, #00c6ff); 
    color: #fff;
    font-family: 'Roboto', sans-serif;
    padding: 5px 15px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 1px 2px 2px #000;
}

.btnPass {
    background: #1D976C; 
    background: -webkit-linear-gradient(to right, #5DFF99, #1D976C); 
    background: linear-gradient(to right, #5DFF99, #1D976C);  
}