@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #1A1A1A;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
}

.card {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "img" "texto" "footer";
    text-align: center;
    background: #fff;
    border-radius: 16px;
    margin: 0 50px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.8);
    transition: 0.5s;
}

.card:hover {
    transform: scale(1.1);
}

.card-img {
    background-image: url(img/t_rex.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    grid-area: "img";
}

.card .card-texto {
    margin: 19px;
    grid-area: "texto";
}

.card .card-texto .dato {
    font-weight: bold;
    font-size: 14px;
    color: #e22027;
}

.card .card-texto .titulo {
    font-weight: bold;
    font-size: 26px;
    color: #000;
    margin: 15px 0;
}

.card .card-texto .descripcion {
    font-weight: 200;
    font-size: 15px;
    text-align: justify;
}

.card .card-footer {
    grid-area: "footer";
    background: #e22027;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.card .card-footer .desc-dino {
    position: relative;
    right: 10px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card .card-footer .desc-dino .desc-name {
    font-weight: 700;
    color: #fff;
}

.card .card-footer .desc-dino .desc-count {
    color:#EBEBEB;
    font-size: 11px;
    padding: 5px 0;
}


.card .card-footer .line {
    border-right: 1px solid #B20E14;
    border-left: 1px solid #B20E14;
}


.card-img2 {
    background-image: url(img/alamosaurus.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    grid-area: "img";
}

.card .card-texto .dato2 {
    font-weight: bold;
    font-size: 14px;
    color: #338d11;
}

.card .card-footer2 {
    grid-area: "footer";
    background: #338d11;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.card .card-footer2 .desc-dino {
    position: relative;
    right: 10px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card .card-footer2 .desc-dino .desc-name {
    font-weight: 700;
    color: #fff;
}

.card .card-footer2 .desc-dino .desc-count {
    color:#EBEBEB;
    font-size: 11px;
    padding: 5px 0;
}


.card .card-footer2 .line {
    border-right: 1px solid #206F02;
    border-left: 1px solid #206F02;
}



.card-img3 {
    background-image: url(img/ankylosaurus.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    grid-area: "img";
}

.card .card-texto .dato3 {
    font-weight: bold;
    font-size: 14px;
    color: #f47721;
}

.card .card-footer3 {
    grid-area: "footer";
    background: #f47721;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.card .card-footer3 .desc-dino {
    position: relative;
    right: 10px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card .card-footer3 .desc-dino .desc-name {
    font-weight: 700;
    color: #fff;
}

.card .card-footer3 .desc-dino .desc-count {
    color:#EBEBEB;
    font-size: 11px;
    padding: 5px 0;
}


.card .card-footer3 .line {
    border-right: 1px solid #D45F0E;
    border-left: 1px solid #D45F0E;
}