@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(img/space.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.background-left-column{
    background-color: #000000;
    background-image: linear-gradient(0deg, #000000 0%, #101010 100%);
}

.background-left-column img {
    height: 200px;
    position: relative;
    left: 5px;
    bottom: 20px;
}

.background-left-column h4 {
    position: relative;
    font-family: 'Staatliches', cursive;
    font-size: 23px;
    text-align: center;
    letter-spacing: 2px;
    text-shadow: 2px 2px 2px black;
}

.background-left-column .politica {
    font-family: 'Saira Condensed', sans-serif;
    text-decoration: none;
    color: rgba(255,255,255,.7);
}

.background-left-column .politica:hover {
    text-decoration: underline;
}

.background-left-column span {
    color: #00ad45;
    font-size:30px;
}

.container{
	display: flex;
	justify-content: center;
	height: 100vh;
    align-items: center;
}

.card {
	box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
	display: flex;	
	margin: 1.5rem;
	overflow: hidden;
	width: 49rem;
	height: 28rem;
    box-shadow: 0px 0px 10px 10px #014F8A;
}

.left-column {	
	color: white;
	padding: 2rem;
	display: flex;
	flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.right-column {
	padding: 30px;
	width: 100%;
	display: flex;
	background: rgba(255,255,255,.4);
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.right-column h1{
    color: #FFFFFF;
    font-size: 45px;
    position: relative;
    letter-spacing: 4px;
    left: 126px;
    bottom: 28px;
    font-family: 'Russo One', sans-serif;
    text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}

.right-column h1 span {
    color: #0066b2;
    font-size: 60px;
    text-shadow: 0 1px 0 #014F8A, 0 2px 0 #014F8A, 0 3px 0 #014F8A, 0 4px 0 #014F8A, 0 5px 0 #014F8A, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}

.right-column .social .fab {
    padding: 15px 15px;
    background:#fff;
    border-radius: 50%;
    margin-left: 20px;
    font-size: 18px;
    position: relative;
    left: 124px;
    bottom: 26px;
    border: 1px solid black;
    transition-duration: 550ms;
}

.right-column .social .fab:hover {
    background:#014F8A;
    transition-duration: 550ms;
    color: #fff;
}

form input {
	height: 33px;
	margin:20px 0;
	outline: none;
	border: none;
	width: 270px;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 16px;
    position: relative;
    left: 110px;
    color:black;
    bottom: 50px;
	padding-left: 7px;
    margin-bottom: 5px;
	border-right: 3px solid #014F8A;
    display: block;
}

form input:hover {
    border-right: none;
    border: 2px solid #014F8A;

}

form i {
    position: relative;
    left: 78px;
    font-size: 18px;
    color:#00489E;
}


.check-box {
	position: relative;
	font-size: 10px;
	height: 15px;
	bottom: 54px;
    left: -17px;
}

.rb {
    position: relative;
    font-family: 'Saira Condensed', sans-serif;
    color: #000;
    left: 135px;
    bottom: 78px;
    font-weight: 700;
}

form p {
	position: relative;
	bottom: 58px;
	left: 25px;
	font-family: 'Noto Sans', sans-serif;
	font-size: 14px;
	color: rgba(255,255,255,.8);
}

form .recuperar-pass {
    text-decoration: underline;
    font-family: 'Saira Condensed', sans-serif;
    color: rgba(0, 0, 0, 0.80);
    position: relative;
    left: 235px;
    bottom: 109px;
}

form button {
    height: 40px;
    width: 130px;
    border-radius: 10px 0 10px 0;
    border: none;
    background: #014F8A;
    color: #FFFFFF;
    font-size: 20px;
    text-shadow: 0 0 10px #FFFFFF;
    font-family: 'Staatliches', cursive;
    letter-spacing: 1px;
    transition: .4s ease;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.45);
    position: relative;
    bottom: 30px;
    left: 30px;
}

form button:hover {
    background: #fff;
    color: #014F8A;
    text-shadow: 0 0 10px #014F8A;
    transition: .4s ease;
    box-shadow: none;
}