* {
  margin: 0;
  padding: 0;
  border:0;
  vertical-align: baseline;
  box-sizing: border-box;
}

body {
  background: #ecf0f1;
  font-family: sans-serif;
  padding-top: 330px;
  transition: padding-top 0.5 ease;
  background: #0F1939;
}

header {
  width: 100%;
  height: 280px;
  background: #494949;
  text-align: center;
  position: fixed;
  top: 0;
  overflow: hidden;
  transition: all 0.5s ease;
  box-shadow: 3px 3px 3px #000;

}

header h1{
  font-size: 52px;
  line-height: 210px;
  transition: all 0.3 ease;
  font-family: 'Luckiest Guy';
  color: #fff;
  background: #333131;
  border: 3px solid #201F1F;
  box-shadow: 2px 2px 1px #181818; 
  letter-spacing: .1em;
  text-shadow: 
      0 -2px 0 #000, 
      0 1px 0 #000, 
      0 2px 0 #000, 
      0 3px 0 #000, 
      0 4px 0 #000, 
      0 5px 0 #000, 
      0 6px 0 #000, 
      0 7px 0 #000, 
      0 8px 0 #000, 
      0 9px 0 #000, 
      0 10px 0 #000, 
      0 11px 0 #161616, 
      0 12px 0 #111111, 
      0 13px 0 #0B0B0B, 
      0 14px 0 #050505, 
      0 15px 0 #000, 
      0 22px 30px rgba(0, 0, 0, 0.9);
}  

header nav a{
  color: white;
  display: inline-block;
  text-decoration: none;
  padding: 10px 16px;
  text-shadow: none;
  border-radius: 5px;
  font-family: cursive;
  text-shadow: 1px 1px 1px #000;
}

header nav a:hover{
  background: rgba(63,254,36,0.7);
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px 1px #000;
  font-size: 19px;
  box-shadow: 2px 2px 2px #000;
}

.social {
  position:fixed;
  left:0;
  top:300px;
  z-index:2000; 
}

.social ul {
  list-style:none; 
}

.social ul li a {
  display:inline-block;
  color:#fff;
  background:#000;
  padding:15px 20px;
  text-decoration:none;
  transition:all 500ms ease;    
}

.social ul li .icon-facebook {background:#3b5998;}

.social ul li .icon-twitter {background:#00acee;} 

.social ul li .icon-github {background:#24292e;}

.social ul li .icon-whatsapp {background:#25d366;}

.social ul li .icon-youtube {background:#FF0000;}

.social ul li a:hover {
  padding:15px 35px;
  background:auto;
}

h2{
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 400px;
  line-height: 2;
  color: #000;
  font-weight: bold;
  -webkit-text-stroke: 1px red;
}



p{
  margin-bottom: 2rem;
  line-height: 2;
  color: #000;
  text-align: justify;
  padding: 8px; 
}

.contenido {
  max-width: 60%;
  margin: 0 auto;
  background: #fcfcfc;
  border-radius: 6px;
  box-shadow: 5px 5px 5px #000;
}

footer{
  background: #111;
  height: auto;
  width: 100%;
  font-family:"Open Sans";
  padding-top: 40px;
  color: #fff;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.container h3{
  font-size: 27px;
  font-family: sans-serif Helvetica;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}

.container p{
  margin: 10px auto;
  color: #9D9EA0;
  line-height: 28px;
  font-size: 15px;
  font-family: serif;
}

.container img{
  height: 2.5em;
}

.sociales{
  list-style: none;
  display:flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.sociales li{
  margin: 0 10px;
}

.sociales a{
  text-decoration: none;
  color: #fff;
}


.sociales a:hover span{
  color: blue;
}

.sociales a span{
  font-size: 17px;
  transition: color .3s ease;
}

.negro{
  background: #000;
  width: 100%;
  height: 3px;
  opacity: 0.4;
  padding: 20px 0;
  text-align: center;
}