@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?8h38k0');
  src:  url('fonts/icomoon.eot?8h38k0#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?8h38k0') format('truetype'),
    url('fonts/icomoon.woff?8h38k0') format('woff'),
    url('fonts/icomoon.svg?8h38k0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\ea90";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-github:before {
  content: "\eab0";
}
