@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: #050510;
}

.container {
    height: 400px;
    width: 700px;
    background:#fff;
    border-radius: 15px;
    box-shadow: 0px 5px 20px rgba(255,255,255,.2);
    text-align: left;
}

.skill-name {
    top: 32px;
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0;
    position: relative;
    left: 20px;
    font-family: 'Roboto', sans-serif;
    color: #0F0F0F;
}

.skill-bar {
    height: 20px;
    background: #D3D3D3;
    width: 94%;
    position: relative;
    top: 26px;
    left: 20px;
    border-radius: 10px;
    box-shadow: inset 1px 2px 2px #B0B0B0;
}

.skill-per-html {
    height: 20px;
    background: #10FDB5;
    box-shadow: inset 0 3px 6px #01D393;
    border-radius: 10px;
    width: 75%;
    transition: 1s linear;
    position: relative;
    animation: skill 2.5s forwards;
}

.skill-per-css {
    height: 20px;
    background: #10FDB5;
    box-shadow: inset 0 3px 6px #01D393;
    border-radius: 10px;
    width: 95%;
    transition: 1s linear;
    position: relative;
    animation: skill 2.5s forwards;
}

.skill-per-js {
    height: 20px;
    background: #10FDB5;
    box-shadow: inset 0 3px 6px #01D393;
    border-radius: 10px;
    width: 45%;
    transition: 1s linear;
    position: relative;
    animation: skill 2.5s forwards;
}

.skill-per-python {
    height: 20px;
    background: #10FDB5;
    box-shadow: inset 0 3px 6px #01D393;
    border-radius: 10px;
    width: 15%;
    transition: 1s linear;
    position: relative;
    animation: skill 2.5s forwards;
}

@keyframes skill {
    0%{
        width: 0;
    }
}

.skill-per-html::before {
    content: attr(per);
    position: absolute;
    padding: 4px 5px;
    background: #0F0F0F;
    color: #fff;
    font-size: 13px;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    bottom: 25px;
    right: 0;
    transform: translateX(50%);
}

.skill-per-html::after {
    content: '';
    position: absolute;
    width: 8px;
    height: 7px;
    background: #000;
    border-radius: 1px;
    bottom: 18px;
    right: 0;
    transform: translate(50%) ;
    clip-path: polygon(50% 100%, 0 0, 100% 0);
}

.skill-per-css::before {
    content: attr(per);
    position: absolute;
    padding: 4px 5px;
    background: #0F0F0F;
    color: #fff;
    font-size: 13px;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    bottom: 25px;
    right: 0;
    transform: translateX(50%);
}

.skill-per-css::after {
    content: '';
    position: absolute;
    width: 8px;
    height: 7px;
    background: #000;
    border-radius: 1px;
    bottom: 18px;
    right: 0;
    transform: translate(50%) ;
    clip-path: polygon(50% 100%, 0 0, 100% 0);
}


.skill-per-js::before {
    content: attr(per);
    position: absolute;
    padding: 4px 5px;
    background: #0F0F0F;
    color: #fff;
    font-size: 13px;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    bottom: 25px;
    right: 0;
    transform: translateX(50%);
}

.skill-per-js::after {
    content: '';
    position: absolute;
    width: 8px;
    height: 7px;
    background: #000;
    border-radius: 1px;
    bottom: 18px;
    right: 0;
    transform: translate(50%) ;
    clip-path: polygon(50% 100%, 0 0, 100% 0);
}

.skill-per-python::before {
    content: attr(per);
    position: absolute;
    padding: 4px 5px;
    background: #0F0F0F;
    color: #fff;
    font-size: 13px;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    bottom: 25px;
    right: 0;
    transform: translateX(50%);
}

.skill-per-python::after {
    content: '';
    position: absolute;
    width: 8px;
    height: 7px;
    background: #000;
    border-radius: 1px;
    bottom: 18px;
    right: 0;
    transform: translate(50%) ;
    clip-path: polygon(50% 100%, 0 0, 100% 0);
}