@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    background-color: #101010;
}

.container {
    background: #fff;
    width: 300px;
    height: 70px;
    margin: 20px;
    cursor: pointer;
}

.container::before {
    content: '';
    position: absolute;
    width: 5px;
    height: 70px;
    background-color: #d63031;
    transition: 0.5s ease-in-out;
}

.container:hover::before {
    width: 300px;
    background-color: #d63031;
}

.content {
    padding: 10px;
    position: block;
}

.icon {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.title {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Ropa Sans', sans-serif;
    line-height: 40px;
    
}

.subtitle {
    line-height: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Ropa Sans', sans-serif;
}

.icon .bx {
    position: absolute;
    color: #d63031;
    font-size: 30px;
    top: 41px;
    padding: 0 5px;
    text-shadow: 1px 2px 1px rgba(0,0,0,.5);
    transition: 0.5s ease-in-out;
}

.content .title h4 {
    color:#d63031;
    font-size: 17px;
}

.content .subtitle p {
    color:#000;
}

.container:hover .content .title h4 {
    position: relative;
    color: #fff;
}

.container:hover .content .subtitle p {
    position: relative;
    color: #000;
}

.container:hover .content .icon .bx {
    color: #fff;
}

/*Container 2*/

.container_2 {
    background: #fff;
    width: 300px;
    height: 70px;
    margin: 20px;
    cursor: pointer;
}

.container_2::before {
    content: '';
    position: absolute;
    width: 5px;
    height: 70px;
    background-color: #1e3799;
    transition: 0.5s ease-in-out;
}

.container_2:hover::before {
    width: 300px;
    background-color: #1e3799;
}

.content_2 {
    padding: 10px;
    position: block;
}

.content_2 .title h4 {
    color:#1e3799;
    font-size: 17px;
}

.icon_2 {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.icon_2 .bx {
    position: absolute;
    color: #1e3799;
    font-size: 30px;
    top: 132px;
    padding: 0 5px;
    text-shadow: 1px 2px 1px rgba(0,0,0,.5);
    transition: 0.5s ease-in-out;
}

.container_2:hover .content_2 .title h4 {
    position: relative;
    color: #fff;
}

.container_2:hover .content_2 .subtitle p {
    position: relative;
    color: #000;
}

.container_2:hover .content_2 .icon_2 .bx {
    color: #fff;
}


/*Container 3*/

.container_3 {
    background: #fff;
    width: 300px;
    height: 70px;
    margin: 20px;
    cursor: pointer;
}

.container_3::before {
    content: '';
    position: absolute;
    width: 5px;
    height: 70px;
    background-color: #fbc531;
    transition: 0.5s ease-in-out;
}

.container_3:hover::before {
    width: 300px;
    background-color: #fbc531;
}

.content_3 {
    padding: 10px;
    position: block;
}

.content_3 .title h4 {
    color:#fbc531;
    font-size: 17px;
}

.icon_3 {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.icon_3 .bx {
    position: absolute;
    color: #fbc531;
    font-size: 30px;
    top: 222px;
    padding: 0 5px;
    text-shadow: 1px 2px 1px rgba(0,0,0,.5);
    transition: 0.5s ease-in-out;
}

.container_3:hover .content_3 .title h4 {
    position: relative;
    color: #fff;
}

.container_3:hover .content_3 .subtitle p {
    position: relative;
    color: #000;
}

.container_3:hover .content_3 .icon_3 .bx {
    color: #fff;
}

/*Container 4*/

.container_4 {
    background: #fff;
    width: 300px;
    height: 70px;
    margin: 20px;
    cursor: pointer;
}

.container_4::before {
    content: '';
    position: absolute;
    width: 5px;
    height: 70px;
    background-color: #4cd137;
    transition: 0.5s ease-in-out;
}

.container_4:hover::before {
    width: 300px;
    background-color: #4cd137;
}

.content_4 {
    padding: 10px;
    position: block;
}

.content_4 .title h4 {
    color:#4cd137;
    font-size: 17px;
}

.icon_4 {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.icon_4 .bx {
    position: absolute;
    color: #4cd137;
    font-size: 30px;
    top: 311px;
    padding: 0 5px;
    text-shadow: 1px 2px 1px rgba(0,0,0,.5);
    transition: 0.5s ease-in-out;
}

.container_4:hover .content_4 .title h4 {
    position: relative;
    color: #fff;
}

.container_4:hover .content_4 .subtitle p {
    position: relative;
    color: #000;
}

.container_4:hover .content_4 .icon_4 .bx {
    color: #fff;
}