@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: #1F1E30;
}

.main {
    width: 100%;
    height: 100vh;
    display: flex;
}

.main .menu {
    width: 20%;
    margin: auto 12px;
    height: 90%;
    background: -webkit-linear-gradient(to right, #61045F, #AA076B);  
    background: linear-gradient(to right, #61045F, #AA076B);
    border-radius: 12px;
    outline: 3px solid #AA076B;
    outline-offset: 4px;
}

#logo {
    color: #fff;
    font-family: 'Londrina Solid', cursive;
    font-size: 30px;
    letter-spacing: 1px;
    padding: 20px 0;
    text-shadow: 2px -1px 2px #000;
    border-bottom: 1px solid  #f2f2f2;
    text-align: center;
}

.etiqueta {
    display: flex;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    color: #000;
    background: #D30000;
    width: 51px;
    height:25px;
    border-radius: 5px;
    border: 2px solid #FF0000;
    text-align: center;
    align-items: center;
    position: absolute;
    margin-left: 30px;
    margin-top: 5px;
    padding: 0 2px;
    letter-spacing: 0;
    text-shadow: none;
}

.menu a {
    color: #fff;
    font-size: 16px;
    display: list-item;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    flex-direction: column;
    border-top: 1px solid rgba(255,255,255,0.13);
    border-bottom: 1px solid rgba(0,0,0,0.13);
    cursor: pointer; 
}

.menu a:hover {
    background: rgba(0,0,0,0.10);
}

.bx {
    font-size: 22px;
    padding: 10px;
    vertical-align: middle;
}

.main .content {
    background-color: #1F1E30;
    padding: 20px;
    display: flex;
    position: relative;
}

.main .content h6 {
    color: #DEDEDE;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    position: absolute;
}

.main .card {
    margin-top: 50px;
    width: 260px;
    height: 140px;
    background-color: #272A3D;
    border-radius: 6px;
    margin: 60px 32px;
    cursor: pointer;
    transition: .4s ease;
}

.main .card .bx {
    color: #fff;
    font-size: 35px;
}

.main .card .clients {
    font-family: 'Poppins', sans-serif;
    color: #027EF2;
    margin-left: 10px;
    margin-top: -10px;
}

.main .card .number {
    color: #EDEDED;
    float: right;
    font-size: 30px;
    margin-right: 15px;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
}

.card .products {
    font-family: 'Poppins', sans-serif;
    color: #14EA78;
    margin-left: 10px;
    margin-top: -10px;
}

.card .repartos {
    font-family: 'Poppins', sans-serif;
    color: #FB8D72;
    margin-left: 10px;
    margin-top: -10px;
}

.content2 .grafico {
    position: absolute;
    left: 317px;
    top: 220px;
    display: flex;
    width: 420px;
    height: 350px;
    background-color: #272A3D;
    border-radius: 6px;
    margin: 60px 20px;
}

.content2 .product-stock {
    color: #DEDEDE;
    font-family: 'Poppins', sans-serif;
    font-size: 19px;
    padding: 10px 15px;
}

.content2 .img {
    position: absolute;
    top: 60px;
    left: 70px;
}

.content2 img {
    height: 270px;
    width: auto;
    cursor: pointer;
    transition: .4s ease;
}

.content2 img:hover {
    transform: scale(1.1);
}


.content2 .grafico2 {
    position: absolute;
    left: 817px;
    top: 220px;
    display: flex;
    width: 420px;
    height: 350px;
    background-color: #272A3D;
    border-radius: 6px;
    margin: 60px 20px;
}

.card:hover {
    transform: scale(1.1);
}