@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 9px;
    background: #19063E;
}

::-webkit-scrollbar-thumb {
    background: #743DE5;
    border-radius: 5px;
    box-shadow: inset 0 0 4px 1px #000;
}

::-webkit-scrollbar-thumb:active {
    background: #4F1EB3;
}

body {
    height: 100vh;
    width: 100%;
    background: #1A1A1A;
}

.top-bg {
    display: flex;
    position: relative;
    height: 40px;
    align-items: center;
    text-align: center;
    justify-content: center;
    background: #2C1163;
    font-family: 'Roboto', sans-serif;
}

.top-bg i {
    display: inline-block;
    position: relative;
    left: 500px;
    font-size: 23px;
    bottom: 11px;
    margin: 0 10px;
    justify-content: space-between;
}

.top-bg .bx {
    border: 1px solid rgba(255,255,255,.3);
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    padding: 2px;
    transition: 0.2s;
}

.top-bg .btn-fb:hover {
    color: rgba(255,255,255,.7);
    transition: 0.2s;
}

.top-bg .btn-tw:hover {
    color: rgba(255,255,255,.7);
    transition: 0.2s;
}

.top-bg .btn-ig:hover {
    color: rgba(255,255,255,.7);
    transition: 0.2s;
}

.top-bg h4 {
    color: #fff;
    position: relative;
    top: 14px;
    left: 160px;
    font-size: 19px;
}

.filtro {
    display: grid;
    background-image: url(../img/programming.jpg);
    height: 625px;
    filter: blur(2px);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.filtro::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(38,14,88,.8);
}

.contenido-portada h1 {
    color: #fff;
    position: absolute;
    font-family: 'Kaushan Script', cursive;
    font-size: 50px;
    top: 270px;
    left: 426px;
    transform: rotate(-8deg);
    transition: 0.7s;
    cursor: pointer;
    text-shadow: -1px 4px 5px #000;
}

.contenido-portada h1:hover {
    transition: 0.7s;
    transform: rotate(-360deg);
}

.contenido-portada img {
    position: absolute;
    height: 120px;
    background: #000;
    top: 100px;
    left: 620px;
    border-radius: 100%;
    border: 2px solid #4F1EB3;
    transition: 0.7s;
    cursor: pointer;
}

.contenido-portada img:hover {
    transition: 0.7s;
    transform: rotate(-360deg);
}

.contenido-portada p {
    font-family: 'Space Mono', monospace;
    color: #fff;
    position: absolute;
    top: 414px;
    left: 566px;
}

.contenido-portada .arrow-right {
    color: rgba(255,255,255,.9);
    font-family: 'Space Mono', monospace;
    font-size: 25px;
    position: absolute;
    top: 415px;
    left: 531px;
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #4F1EB3;
}

.contenido-portada .arrow-left {
    color: #fff;
    font-family: 'Space Mono', monospace;
    font-size: 25px;
    position: absolute;
    top: 415px;
    left: 800px;
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #4F1EB3;
}

.contenido-portada .btn-sobremi {
    cursor: pointer;
    position: absolute;
    color: #fff;
    top: 550px;
    left: 50%;
    font-family: 'Space Mono', monospace;
    font-size: 20px;
    background: #2C1163;
    padding: 4px 30px;
    border-radius: 20px;
    border: 2px solid #743DE5;
    box-shadow: -1px 0 15px #000;
    transform: translate(-50%,-50%);
    transition: 0.2s;
}

.contenido-portada .btn-sobremi:active {
    background: #743DE5;
    border: 2px solid #2C1163;
    transition: 0.2s;
    box-shadow: none;
}

.contenido {
    font-family: 'Space Mono', monospace;
    height: 483px;
    position: absolute;
    width: 100%;
    background: #111111;
    text-align: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

.contenido h1 {
    padding: 40px 0;
    font-size: 35px;
    text-shadow: 3px 3px 3px rgba(0,0,0,.8);
}

.contenido .line {
    position: relative;
    bottom: 40px;
    left: 620px;
    border-top: 4px solid #4F1EB3;
    width: 120px;
}

.contenido h3 {
    position: relative;
    float: left;
    padding: 0 30px;
    font-weight: 200;
}

.contenido .info {
    display: block;
    text-align: justify;
    font-size: 14px;
    position: absolute;
    float: left;
    padding: 40px 30px;
    color: rgba(255,255,255,.8);
}

.contenido .info2 {
    display: block;
    text-align: justify;
    font-size: 14px;
    position: absolute;
    float: left;
    padding: 70px 30px;
    color: rgba(255,255,255,.8);
}

.contenido p .color {
    color: #4F1EB3;
    font-weight: bold;
}

.contenido .info3 {
    display: block;
    text-align: justify;
    font-size: 14px;
    position: absolute;
    float: left;
    padding: 100px 30px;
    color: rgba(255,255,255,.8);
}

.contenido .info4 {
    display: block;
    text-align: justify;
    font-size: 14px;
    position: absolute;
    float: left;
    padding: 130px 30px;
    color: rgba(255,255,255,.8);
}

.contenido .info5 {
    display: block;
    text-align: justify;
    font-size: 14px;
    position: absolute;
    float: left;
    padding: 160px 30px;
    color: rgba(255,255,255,.8);
}

.contenido .info6 {
    display: block;
    text-align: justify;
    font-size: 14px;
    position: absolute;
    float: left;
    padding: 190px 30px;
    color: rgba(255,255,255,.8);
}

.contenido .info7 {
    display: block;
    text-align: justify;
    font-size: 14px;
    position: absolute;
    float: left;
    padding: 220px 30px;
    color: rgba(255,255,255,.8);
}

.contenido .info8 {
    display: block;
    text-align: justify;
    font-size: 14px;
    position: absolute;
    float: left;
    padding: 250px 30px;
    color: rgba(255,255,255,.8);
}

.contenido .info9 {
    display: block;
    text-align: justify;
    font-size: 14px;
    position: absolute;
    float: left;
    padding: 280px 30px;
    color: rgba(255,255,255,.8);
}

.contenido .resumen {
    height: 300px;
    width: 400px;
    float: right;
}


.contenido .resumen p {
    color: rgba(255,255,255,.8);
    text-align: justify;
    font-size: 14px;
    position: relative;
    right: 100px;
    padding: 10px 0;
}

.contenido .title-dsc {
    position: relative;
    float: right;
    padding: 10px 16rem;
}

/* TOP BUTTON */

.btn-arriba {
    position: fixed;
    bottom: 30px;
    right:32px;
    width:50px;
    height:50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:32px;
    color:#fff;
    text-decoration: none;
    opacity:0;
    pointer-events: none;
    transition: 0.5s;
}
  
.btn-arriba.active {
    bottom:32px;
    pointer-events: auto;
    opacity:1;
}

.btn-arriba::before {
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;
    border-radius: 50%;  
    opacity: .80; 
    z-index: -1;
    background: #000;
    cursor: pointer;
}

/* END TOP BUTTON */


.typing {
    position: relative;
}

.typing::after {
    content: '';
    background-color: rgba(38,14,88,.8);
    border-left: 2px solid #fff;
    height: 100%;
    right: 0;
    opacity: .80;
    position: absolute;
    animation: typing 2s infinite alternate steps(24);
}

@keyframes typing {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}

/* SECTION 3 */


.section-3 {
    height: 1350px;
    width: 100%;
    background: #220A51;
}

.section-3 .contenido-section-3 {
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    position: relative;
}

.section-3 .contenido-section-3 h1 {
    position: relative;
    top: 520px;
    font-size: 35px;
    font-family: 'Space Mono', monospace;
    text-shadow: 3px 3px 3px rgba(0,0,0,.8);
}

.section-3 .contenido-section-3 .line {
    position: relative;
    top: 520px;
    border-top: 4px solid #fff;
    width: 160px;
    left: 600px;
}

.section-3 .contenido-section-3 .line-vectical {
    position: relative;
    top: 940px;
    width: 600px;
    border-top: 2px solid rgba(255,255,255,.7);
    transform: rotate(90deg);
    left: 380px;
}

.section-3 .contenido-section-3 h2 {
    position: absolute;
    top: 675px;
    font-size: 35px;
    font-family: 'Space Mono', monospace;
    background: white;
    width: 120px;
    padding: 0 2px;
    font-size: 20px; 
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #18181C;
    left: 620px;
}

.section-3 .contenido-section-3 .iconos {
    position: absolute;
}

.section-3 .contenido-section-3 .maleta {
    position: relative;
    top: 720px;
    font-size: 30px;
    background: #674BCD;
    border-radius: 50%;
    border: 2px solid #10043B;
    padding: 5px;
    left: 658px;
}

.section-3 .contenido-section-3 .empleo {
    font-size: 20px;
    position: absolute;
    top: 745px;
    left: 480px;
    text-align: justify;
    font-weight: 200;
    color: rgba(255,255,255,.8);
}


.section-3 .contenido-section-3 .maleta-2 {
    position: absolute;
    top: 820px;
    font-size: 30px;
    background: #674BCD;
    border-radius: 50%;
    border: 2px solid #10043B;
    padding: 5px;
    left: 658px;
}

.section-3 .contenido-section-3 .empleo-2 {
    font-size: 15px;
    position: absolute;
    top: 865px;
    left: 715px;
    text-align: justify;
    font-weight: 200;
    color: rgba(255,255,255,.8);
}

.section-3 .contenido-section-3 .graduacion {
    position: absolute;
    top: 1010px;
    font-size: 30px;
    background: #674BCD;
    border-radius: 50%;
    border: 2px solid #10043B;
    padding: 5px;
    left: 658px;
}
.section-3 .contenido-section-3 .graduacion-2 {
    position: absolute;
    top: 1110px;
    font-size: 30px;
    background: #674BCD;
    border-radius: 50%;
    border: 2px solid #10043B;
    padding: 5px;
    left: 658px;
}

.section-3 .contenido-section-3 .educacion {
    font-size: 18px;
    position: absolute;
    top: 1047px;
    left: 488px;
    text-align: justify;
    font-weight: 200;
    color: rgba(255,255,255,.8);
}


.section-3 .contenido-section-3 .educacion-2 {
    font-size: 16px;
    position: absolute;
    top: 1147px;
    left: 715px;
    text-align: justify;
    font-weight: 200;
    color: rgba(255,255,255,.8);
}

.section-3 .contenido-section-3 h3 {
    position: absolute;
    top: 975px;
    font-size: 35px;
    font-family: 'Space Mono', monospace;
    background: #fff;
    width: 135px;
    font-size: 20px; 
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #18181C;
    left: 617px;
    padding: 0 5px;
}

/* SECTION 4 */

.section-4 {
    background: #111111;
    width: 100%;
    height: 510px;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
}

.section-4 h1 {
    color: #fff;
    font-family: 'Space Mono', monospace;
    font-size: 35px;
    position: relative;
    bottom: 190px;
    text-shadow: 3px 3px 3px rgba(0,0,0,.8);
}

.section-4 .line {
    position: absolute;
    bottom: 188px;
    border-top: 4px solid #4F1EB3;
    width: 140px;
    left: 26px;
}

.section-4 .iconos .web {
    color: #fff;
    font-size: 60px;
    position: absolute;
    border-radius: 50%;
    background: #2C1163;
    padding: 20px;
    top: -50px;
    right: 450px;
    box-shadow: 0 1px 3px 3px rgba(0,0,0,.7);
    transition: 0.5s;
}
.section-4 .iconos .web:hover {
    cursor: pointer;
    transition: 0.5s;
    transform: rotate(360deg);
    box-shadow: none;
}

.section-4 .iconos .pentesting {
    color: #fff;
    font-size: 60px;
    position: absolute;
    border-radius: 50%;
    background: #2C1163;
    padding: 20px;
    top: -50px;
    right: 50px;
    box-shadow: 0 1px 3px 3px rgba(0,0,0,.7);
    transition: 0.5s;
}
.section-4 .iconos .pentesting:hover {
    cursor: pointer;
    transition: 0.5s;
    transform: rotate(360deg);
    box-shadow: none;
}

.section-4 .iconos .hardware {
    color: #fff;
    font-size: 60px;
    position: absolute;
    border-radius: 50%;
    background: #2C1163;
    padding: 20px;
    top: -50px;
    left: 450px;
    box-shadow: 0 1px 3px 3px rgba(0,0,0,.7);
    transition: 0.5s;
}

.section-4 .iconos .hardware:hover {
    cursor: pointer;
    transition: 0.5s;
    transform: rotate(360deg);
    box-shadow: none;
}

.section-4 .des-web {
    color: #fff;
    font-size: 19px;
    position: absolute;
    top: 60px;
    right: 397px;
    font-family: 'Space Mono', monospace;
    width: 200px;
}

.section-4 .pentester {
    color: #fff;
    font-size: 19px;
    position: absolute;
    top: 60px;
    left: 40px;
    font-family: 'Space Mono', monospace;
}


.section-4 .tecnico {
    color: #fff;
    font-size: 19px;
    position: absolute;
    top: 60px;
    left: 397px;
    font-family: 'Space Mono', monospace;
    width: 200px;
}

.section-4 .contenido-des-web {
    position: absolute;
    font-family: 'Space Mono', monospace;
    color: rgba(255,255,255,.7);
    font-size: 14px;
    width: 300px;
    right: 338px;
    top: 100px;
}

.section-4 .contenido-pentester {
    position: absolute;
    font-family: 'Space Mono', monospace;
    color: rgba(255,255,255,.7);
    font-size: 14px;
    width: 300px;
    top: 100px;
    right: -61px;
}

.section-4 .contenido-tecnico {
    position: absolute;
    font-family: 'Space Mono', monospace;
    color: rgba(255,255,255,.7);
    font-size: 14px;
    width: 300px;
    top: 100px;
    left: 348px;
}

/* SECTION 5 */

.section-5 {
    background: #220A51;
    width: 100%;
    height: 610px;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    position: relative
}

.section-5 h1 {
    color: #fff;
    font-family: 'Space Mono', monospace;
    font-size: 35px;
    position: relative;
    bottom: 235px;
    text-shadow: 3px 3px 3px rgba(0,0,0,.8);
}

.section-5 .line {
    position: absolute;
    bottom: 235px;
    border-top: 4px solid #fff;
    width: 170px;
    left: 29px;
}

.section-5 .circulo-1 {
    position: absolute;
    border-radius: 50%;
    border: 3px solid rgba(255,255,255,.8);
    height: 125px;
    width: 125px;
    right: 410px;
    bottom: 6px;
}

.section-5 .circulo-2 {
    position: absolute;
    border-radius: 50%;
    border: 3px solid rgba(255,255,255,.8);
    height: 125px;
    width: 125px;
    left: 46px;
    bottom: 6px;
}

.section-5 .circulo-3 {
    position: absolute;
    border-radius: 50%;
    border: 3px solid rgba(255,255,255,.8);
    height: 125px;
    width: 125px;
    bottom: 6px;
    left: 410px;
}

.section-5 .html-logo {
    height: 60px;
    position: absolute;
    right: 451px;
    bottom: 36px;
}

.section-5 .html {
    color: #fff;
    position: absolute;
    right: 445px;
    bottom: 138px;
    font-family: 'Otomanopee One', sans-serif;
    font-size: 19px;
}


.section-5 .css-logo {
    height: 60px;
    position: absolute;
    left: 86px;
    bottom: 36px;
}

.section-5 .css {
    color: #fff;
    position: absolute;
    left: 86px;
    bottom: 138px;
    font-family: 'Otomanopee One', sans-serif;
    font-size: 19px;
}

.section-5 .js-logo {
    height: 50px;
    position: absolute;
    left: 447px;
    bottom: 41px;
}

.section-5 .js {
    color: #fff;
    position: absolute;
    left: 424px;
    bottom: 138px;
    font-family: 'Otomanopee One', sans-serif;
    font-size: 19px;
}   

.section-5 .circulo-4 {
    position: absolute;
    border-radius: 50%;
    border: 3px solid rgba(255,255,255,.8);
    height: 125px;
    width: 125px;
    right: 410px;
    top: 145px;
}

.section-5 .circulo-5 {
    position: absolute;
    border-radius: 50%;
    border: 3px solid rgba(255,255,255,.8);
    height: 125px;
    width: 125px;
    left: 46px;
    top: 145px;
}

.section-5 .circulo-6 {
    position: absolute;
    border-radius: 50%;
    border: 3px solid rgba(255,255,255,.8);
    height: 125px;
    width: 125px;
    top: 145px;
    left: 410px;
}

.section-5 .react-logo {
    height: 50px;
    position: absolute;
    right: 448px;
    top: 183px;
}

.section-5 .react {
    color: #fff;
    position: absolute;
    right: 448px;
    top: 110px;
    font-family: 'Otomanopee One', sans-serif;
    font-size: 19px;
}   

.section-5 .bootstrap-logo {
    height: 50px;
    position: absolute;
    left: 84px;
    top: 183px;
}

.section-5 .bootstrap {
    color: #fff;
    position: absolute;
    left: 61px;
    top: 110px;
    font-family: 'Otomanopee One', sans-serif;
    font-size: 19px;
}

.section-5 .python-logo {
    height: 50px;
    position: absolute;
    left: 447px;
    top: 183px;
}

.section-5 .python {
    color: #fff;
    position: absolute;
    left: 437px;
    top: 110px;
    font-family: 'Otomanopee One', sans-serif;
    font-size: 19px;
}

footer .contenido {
    height: 135px;
    width: 100%;
    background: #090909;
}

footer .contenido h2 {
    font-size: 23px;
    font-weight: bold;
    text-transform: uppercase;
    float: left;
    position: relative;
    top: 55px;
    margin-left: 50px;
    border-right: 3px solid rgba(255,255,255,.8);
    border-left: 3px solid rgba(255,255,255,.8);
    border-top: 3px solid rgba(255,255,255,.8);
    border-bottom: 3px solid rgba(255,255,255,.8);
    cursor: not-allowed;
    transition: 0.4s;
    letter-spacing: 2px;
}

footer .contenido h2:hover {
    transition: 0.4s;
    background: #fff;
    color: #000;
    cursor: pointer;
}

footer .contacto {
    position: absolute;
    left: 860px;
    top: 50px;
}

footer a {
    color: #fff;
    font-size: 30px;
    padding: 0 10px;
    transition: 0.3s;
}

footer a:hover {
    transition: 0.3s;
    color: #4F1EB3;
    font-size: 28px;
}

footer .derechos {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    position: absolute;
    top: 15px;
    right:280px;
    width: 300px;
}