@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 30px 0;
    background: #051120;
    display: flex;
    justify-content: center;
    font-weight: 300;
    flex-direction:initial;
}

footer .logo {
    display: flex;
    position: relative;
    right: 370px;
    color: #fff;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 2px;
}

footer .line {
    width: 50px;
    height: 4px;
    position: absolute;
    left: 21px;
    top: 80px;
    margin: 0 52px;
    background: #EAD316;
}

footer .servicios {
    flex-direction: column;
    display: flex;
    position: relative;
    right: 200px;
    top: 30px;
    margin: 50px 0;
    padding-bottom: 20px;
}

footer .servicios h4 {
    padding-bottom: 15px;
    color: #ddd;
    font-size: 16px;
}

footer .servicios .menu-item {
    color: #BDBDBD;
    margin: 10px 0;
    padding: 2px 0;
    cursor: pointer;
    transition: 0.2s;
}

footer .servicios .menu-item:hover {
    color: #EAD316;
    transition: 0.2s;
}

footer .empresa {
    flex-direction: column;
    display: flex;
    position: relative;
    left: 50px;
    top: 30px;
    margin: 50px 0;
}

footer .empresa h4 {
    padding-bottom: 15px;
    color: #ddd;
    font-size: 16px;
}

footer .empresa .menu-item {
    color: #BDBDBD;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    padding: 2px 0;
    cursor: pointer;
}

footer .empresa .menu-item:hover {
    color: #EAD316;
    transition: 0.2s;
}

footer .redes-sociales {
    position: relative;
    left: 250px;
    margin: 79px 0;
}

footer .redes-sociales h4 {
    padding-bottom: 15px;
    color: #ddd;
    font-size: 16px;
}

footer .redes-sociales .icon{
    color: #EAD316;
    margin: 10px 5px;
    position: relative;
    right: 5px;
    padding: 8px;
    cursor: pointer;
    font-size: 20px;
    background: #0E2037;
    border-radius: 3px;
}

footer .formulario {
    position: absolute;
    right: 185px;
    top: 230px;
}

footer .formulario input {
    height: 37px;
    width: 200px;
    padding: 0 10px;
    border: none;
    outline: none;
}

footer .btn-enviar {
    position: absolute;
    right: 0px;
    top: 50px;
    height: 35px;
    width: 200px;
    outline: none;
    background: #E5D442;
    color: #000;
    font-size: 14px;
    padding: 5px 0;
    font-weight: bold;
    border-radius: 8px;
    border: 2px solid #B7A508;
    cursor: pointer;
    letter-spacing: 1px;
    box-shadow: -1px 3px 7px rgba(0,0,0,.70);
    transition: 0.5s;
}

footer .btn-enviar:active {
    transition: 0.5s;
    border: none;
    box-shadow: none;
    font-size: 12px;
}

.top-section {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 50px;
    background: #030C17;
    color: #ddd;
    align-items: center;
    display: flex;
}

.top-section span {
    margin: 0 25px;
}

.top-section a {
    left: 600px;
    color: #ddd;
    position: relative;
    cursor: default;
}